form{
    box-sizing:border-box;
    border: 2px solid black;
    border-radius: 10px;
    margin: 2%;
    padding: 3%;
    box-shadow: 5px 6px rgba(0, 0, 0, 0.347);
    /* background-image: url(images/contact.png); */
    background-repeat: no-repeat;
    background-image: repeating-linear-gradient(-45deg, #7cd4d07b, #7cd4d06f 1.5px, #49c8c264 2px, #49c8c286 4px);
    

    
}   
main
{
    margin-right: 20%;
    margin-left: 20%;
    background-image: url(images/contact.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size:15vw;
}
h1{
    background-color: whitesmoke;
    border-radius: 5px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.475);
    box-shadow: 5px 6px rgba(0, 0, 0, 0.347);
    font-weight: bold;
}
p{
    font-weight: bold;
}
h4{
    text-align: center;
}
div{
    margin-left: 10%;
    margin-right: 10%;
}
input[type="text"],
input[type="email"]{
      width: 50%;
      border: 2px solid rgba(0, 0, 0, 0.544);
      border-radius: 5px;
      box-shadow: 5px 6px rgba(0, 0, 0, 0.347);
      
}
textarea{
      width: 50%;
      border: 2px solid rgba(0, 0, 0, 0.544);
      border-radius: 5px;
      box-shadow: 5px 6px rgba(0, 0, 0, 0.347);
}
input[type="submit"]{
    width: 20%;
    margin-top: 50px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: green;
    margin-left: 16%;
    margin-right: auto;
    box-shadow: 5px 6px rgba(0, 0, 0, 0.347);
    
}
input[type="submit"]:hover{
    color: black;
    background-color: lightgreen;
    cursor: pointer;
}